<div class="profile">
    <div class="profile-data">
        <div class="profile_img">
            <div class="image">
                <img src="/static/images/ball.jpg" alt="img8">
            </div>
        </div>
        <div class="personal">
            <div class="edit">
                <p>{{user.username}}</p>
            </div>
            <div class="data">
                <span>{{photos.length}}</span>
                <p>photos</p>

            </div>

            <p class="email">{{user.email}}</p>
        </div>
    </div>

    <div class="pet-photos">
        {{#if photos}}
        {{#each photos}}
        <a href="/photo/{{_id}}">

            <img src="{{image}}" alt="pet img">
        </a>
        {{/each}}
        {{else}}
        <article class="not-available-photo">
            <h1>You haven't uploaded photos yet…</h1>
        </article>
        {{/if}}
    </div>

</div>